html {
    min-width: 1000px;
}

body {
    font-family: 'PT Sans', sans-serif;
    line-height: 22px;
}

html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    position: relative;
}
.container {
    width: 980px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

/*header*/
.header {
    background-color: #dcdcdc;
}
.header-logo {
    margin-top: 65px;
    margin-bottom: 65px;
}
.header-contacts-phone {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 10px;
}
.header-contacts-phone li {
    font-family: 'Open Sans Condensed Light';
    font-size: 40px;
    line-height: 46px;
    color: #767676;
    list-style: none;
}
.header-contacts-feedback {
    text-align: right;
    margin-bottom: 65px;
}
.header-contacts-feedback i{
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    color: #767676;
    text-decoration: none;
    border-bottom: 2px dashed #767676;
    cursor: pointer;
}

/*feedback box*/
.box-feedback {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    cursor: pointer;
    transition: .5s linear;
    visibility: hidden;
    opacity: 0;

}

[id='feedback-toggle']:checked ~ .box-feedback {
    transition: 1s linear;
    visibility: visible;
    opacity: 1;
}

.feedback-form {
    position: relative;
    width: 90%;
    max-width: 465px;
    min-width: 465px;
    background: #ffffff;
    margin: 0 auto;
    margin-top: 290px;
    text-align: center;
}
.feedback-form h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #535353;
    padding: 25px 0;
    margin: 0;
    text-align: center;
}

.error-require-input {
    border: 1px solid #ff8383!important;
    box-shadow: inset 0 0 20px 2px rgba(255,131,132,0.5);
}

.error-require-input::-webkit-input-placeholder {
    color: #dc7f7f;
}
.error-require-input:-moz-placeholder {
    color: #dc7f7f;
}
.error-require-input::placeholder {
    color: #dc7f7f;
}

.feedback-form input:focus {
    border: 1px solid #c3c3c3;
    box-shadow: none;
}

.feedback-form input, .feedback-form textarea{
    border: 1px solid #c3c3c3;
    width: 100%;
    max-width: 340px;
    margin: 0 60px 15px 60px;
    padding: 10px 0 10px 10px;
    font-family: 'PT Sans', sans-serif;
    line-height: 22px;
    font-style: italic;
    font-size: 14px;
    color: #535353;
    outline: none;
}
.feedback-form-label {
    font-size: 14px;
    color: #535353;
}

.feedback-form button {
    background-color: #777777;
    font-size: 18px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    line-height: 22px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    padding: 0;
    padding: 10px;
    border: none;
    margin-top: 20px;
    margin-bottom: 25px;
}

.feedback-form-exit {
    position: absolute;
    top: -27px;
    right: -27px;
}
.feedback-form-exit img {
    cursor: pointer;
}

/*main-menu*/
.main-menu {
    background-color: #777777;
}
.main-menu ul {
    font-size: 0;
    text-align: center;
    padding: 0;
    margin: 0;
}
.main-menu ul li {
    display: inline-block;
    vertical-align: middle;
    border-right: 2px solid #ffffff;
    padding: 0 15px;
    margin: 24px 0;
}
.main-menu ul li:first-child {
    padding-left: 0;
}
.main-menu ul li:last-child {
    padding-right: 0;
    border-right: 0;
}
.main-menu ul li a {
    font-size: 30px;
    line-height: 19px;
    color: #ffffff;
    text-decoration: none;
}
.main-menu ul li a:hover {
    border-bottom: 1px solid #ffffff;
}

/*slider*/
.main-slider {
    overflow: hidden;
    position: relative;
}
.slider_wrap {
    margin: 0 auto;
    width: 1248px;
    height: 462px;
}
.slider_wrap img {
    display: none;
    position: absolute;
    top: 0;
}
.slider_wrap img:first-child {
    display:block;
}

.slider_wrap span {
    margin-top: -13px;
    width: 34px;
    height: 61px;
    display: block;
    position: absolute;
    top: 50%;
    cursor: pointer;
    background: url(../img/slider2_arrow.png) no-repeat;
}
.slider_wrap span.next {
    right: 10%;
    background-position: -34px 0;
}
.slider_wrap span.prev {
    left: 10%;
    background-position: 0 0;
}

/*breadcrumbs*/
.breadcrumbs ul {
    font-size: 0;
    padding: 0;
    margin: 0;
    color: #767676;
}
.breadcrumbs ul li {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 5px;
}
.breadcrumbs ul li a, .breadcrumbs ul li span {
    font-size: 14px;
    line-height: 18px;
    color: #767676;
}
.breadcrumbs ul li::after {
    content: '/';
    font-size: 14px;
    line-height: 18px;
    padding-left: 3px;
    padding-right: 7px;
}
.breadcrumbs ul li:last-child::after {
    content: '';
}

/*content*/
.content-center-page {
    padding-bottom: 220px;
}
.content {
    margin-top: 20px;

}

/*sidebar*/
.sidebar {
    width: 200px;
}
.catalog-menu, .catalog-menu-sub {
    margin: 0;
    padding: 0;
}
.catalog-menu {
    margin-bottom: 100px;
}
.catalog-menu li {
    list-style: none;
}
.catalog-menu li a {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    text-decoration: none;
}
.catalog-menu-sub {
    margin-left: 10px;
}
.catalog-menu-sub li {
    margin-left: 14px;
    color: #767676;
    list-style: disc;

}
.catalog-menu-sub li a {
    font-size: 14px;
    line-height: 22px;
}
.catalog-menu-sub li a.active, .catalog-menu li a.active {
    border-bottom: 1px solid #767676;
}
.catalog-menu-sub li a.active {
    color: #010101;
}

/*price-list*/
.price-list {
    font-size: 30px;
    line-height: 25px;
    color: #444444;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

/*center-content*/
.center-content {
    width: 780px;
}
.catalog {
    font-size: 0;
    margin-right: -15px;
}
.catalog-item {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    background-color: #dcdcdc;
    margin-right: 15px;
    margin-bottom: 20px;
}
.catalog-item-photo {
    padding: 20px 20px 0 20px;
}
.catalog-item-name {
    font-size: 18px;
    line-height: 18px;
    color: #767676;
    padding: 20px 0 55px 20px;
    margin: 0;
}
.catalog-item-price {
    font-size: 28px;
    line-height: 18px;
    font-weight: bold;
    color: #444444;
    padding: 20px 0 0 20px;
    margin: 0 70px 0 0;
}

/*pagination*/
.pagination ul {
    text-align: center;
    font-size: 0;
    margin-top: 25px;
}
.pagination ul li {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}
.pagination ul li:last-child {
    margin-right: 0;
}
.pagination ul li a {
    font-size: 14px;
    line-height: 22px;
    color: #767676;
    text-decoration: none;
}
.pagination ul li span {
    font-size: 18px;
    line-height: 22px;
    color: #444444;
}

/*about-company*/
.about-company {
    margin-top: 65px;
    border-top: 1px solid #777777;
    margin-bottom: 200px;
}
.about-company-item {
    font-size: 14px;
    color: #767676;
    width: 370px;
    padding-top: 28px;
}

/*footer*/
.footer {
    background-color: #777777;
    height: 220px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-company-about,
.footer-menu,
.footer-logo {
    margin-top: 45px;
    margin-bottom: 50px;
    color: #ffffff;
    font-size: 14px;
}

.footer-company-about {
    margin-right: 150px;
}
.footer-menu ul{
    margin: 0;
    padding: 0;
}
.footer-menu ul li {
    list-style: none;
}
.footer-menu ul li a {
    color: #ffffff;
    line-height: 26px;
}
.footer-logo {
    margin-right: 30px;
}
.footer-logo span {
    text-decoration: underline;
}